body{
    font-family: Futura, Arial,sans-serif;;
    background-color: #888888;
}
#main{
   width:70%;
    margin-left:15%;
    background-color: lightgrey;
    align-content: center;
    border-radius: 25px;
    text-align:center;
}
#pokemonHolder{
    border-radius: 50%;
    position: relative;
    width: 200px;
    margin:auto;
}
#header{
    padding-top:15px;
    text-align:center;
    color: hotpink;
}
#image{
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    object-fit:cover;
    width:  200px;
    height: 200px;
    margin:auto;
    transition: .5s ease;
}
#image:hover{
    background-color:black;
    opacity: 0.2;
}
#pokemon{
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    text-align: center;
}
#pokemon h2{
    font-family: "Comic Sans MS",sans-serif;
    text-align:center;
    position:absolute;
    color:white;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
#pokemonHolder:hover #pokemon{
    opacity:1;
}

