<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Japanin aamukampa</title>
    <link rel="stylesheet" href="aamustyles.css">
</head>
<body>
<main id="main">
    <h1 id="header">Aamulaskuri</h1>
    <div id="pokemonHolder"></div>

</main>

<script type="text/javascript" src="./js/aamukampajs.js"></script>
</body>
</html>