<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tester for Assistant Node SDK</title>
    <link rel="stylesheet" href="assistant.css">
</head>
<body>
<main id="main">
    <h1 id="header">Assistant tester</h1>
    <div id="controlArea">
        <button id="assistantButton">ASK SOMETHING:-D</button>
    </div>
    <br>
    <div id="outputHolder">
        <p id="output"></p>
    </div>

</main>

<script type="text/javascript" src="./js/assistantNode.js"></script>
</body>
</html>