<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OOPOOTSIKKOOOO</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>15</h1>
<!--<p id="esimerkki">{{ data }} moi moi moi</p> -->
<button id="newCharacter">Create a new character</button>

<main>

</main>


<!--
<form>
    <input id="testijuttu" type="text">
</form>
-->
    <!--
<form action="/test" method="post">
    <input type="text" name="id">
    <button type="submit"> Submit</button>
</form>
-->
<!--
<button id="newCharButton">Paine</button>
<button id="newCharButton2">Paine2</button>
-->
<script type="text/javascript" src="./js/frontFunctionality.js"></script>
</body>
</html>