<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TESTI</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div id="charHeader">
    <div id="charName">
        <h2 id="characterName">jussi</h2>
        <p>Character name</p>
    </div>
    <div id="charInfo">
        <ul>
            <li id="race">
                <h4>Dwarf</h4>
                <p>race</p>
            </li>
            <li id="class"><h4>Barbarian</h4>class</li>
            <li id="background"><h4>Charlatan</h4>background</li>
            <li id="alignment"><h4>Chaotic Neutral</h4>alignment</li>
            <li id="player Name"><h4>Make</h4>player Name</li>
        </ul>
    </div>
</div>
<div id="charMainHolder">
    <div id="attributesHolder">
        <ul>
            <li id="strength" class="charAttrContainer">
                <div class="charAttrLeft">
                    <h3>1</h3>
                    <br>
                    <h2>12</h2>
                    <br>
                    <p>strength</p>
                </div>
                <div class="charAttrRight">
                    <ul>
                        <li><input type="checkbox">Saving Throw</li>
                        <li><input type="checkbox">Athletics</li>
                    </ul>
                </div>
            </li>
            <li id="dexterity" class="charAttrContainer">
                <div class="charAttrLeft">
                    <h3>1</h3>
                    <br>
                    <h2>12</h2>
                    <br>
                    <p>dexterity</p>
                </div>
                <div class="charAttrRight">
                    <ul>
                        <li><input type="checkbox">Saving Throw</li>
                        <li><input type="checkbox">Acrobatics</li>
                        <li><input type="checkbox">Sleight of Hand</li>
                        <li><input type="checkbox">Stealth</li>
                    </ul>
                </div>
            </li>
            <li id="constitution" class="charAttrContainer">
                <div class="charAttrLeft">
                    <h3>1</h3>
                    <br>
                    <h2>12</h2>
                    <br>
                    <p>constitution</p>
                </div>
                <div class="charAttrRight">
                    <ul>
                        <li><input type="checkbox">Saving Throw</li>
                    </ul>
                </div>
            </li>
            <li id="intelligence" class="charAttrContainer">
                <div class="charAttrLeft">
                    <h3>1</h3>
                    <br>
                    <h2>12</h2>
                    <br>
                    <p>intelligence</p>
                </div>
                <div class="charAttrRight">
                    <ul>
                        <li><input type="checkbox">Saving Throw</li>
                        <li><input type="checkbox">Arcana</li>
                        <li><input type="checkbox">History</li>
                        <li><input type="checkbox">Investigation</li>
                        <li><input type="checkbox">Nature</li>
                        <li><input type="checkbox">Religion</li>
                    </ul>
                </div>
            </li>
            <li id="wisdom" class="charAttrContainer">
                <div class="charAttrLeft">
                    <h3>1</h3>
                    <br>
                    <h2>12</h2>
                    <br>
                    <p>wisdom</p>
                </div>
                <div class="charAttrRight">
                    <ul>
                        <li><input type="checkbox">Saving Throw</li>
                        <li><input type="checkbox">Animal handling</li>
                        <li><input type="checkbox">Insight</li>
                        <li><input type="checkbox">Medicine</li>
                        <li><input type="checkbox">Perception</li>
                        <li><input type="checkbox">Survival</li>
                    </ul>
                </div>
            </li>
            <li id="charisma" class="charAttrContainer">
                <div class="charAttrLeft">
                    <h3>0</h3>
                    <br>
                    <h2>11</h2>
                    <br>
                    <p>charisma</p>
                </div>
                <div class="charAttrRight">
                    <ul>
                        <li><input type="checkbox">Saving Throw</li>
                        <li><input type="checkbox">Deception</li>
                        <li><input type="checkbox">Intimidation</li>
                        <li><input type="checkbox">Performance</li>
                        <li><input type="checkbox">Persuasion</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div id="rightHolder">
        <div>
            <div id="attributesAndFriends">
                <div id="armorClass">
                    <div><h2>10</h2>Armor Class</div>
                    <div><h2>MITÄ TÄHÄN:D</h2>voi kakka:-D</div>
                </div>
                <div id="hitPoints">
                    <div><h2>15</h2>Hit Points</div>
                    <div><h2>15</h2>Current Hit Points</div>
                </div>
                <div id="level">
                    <div><h2>1</h2>Level</div>
                    <div><h2>0</h2>Experience</div>
                </div>
                <div id="appearance">
                    <table>
                        <tr>
                            <th>Age</th>
                            <td>231</td>
                            <th>Skin</th>
                            <td>blue</td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td>443,4</td>
                            <th>Hair</th>
                            <td>blue</td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td>1152,1</td>
                            <th>Skin</th>
                            <td>blue</td>
                        </tr>
                        <tr>
                            <th>Vision</th>
                            <td>Darkvision</td>
                            <th>Reputation</th>
                            <td>cool</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="personalityAndFriends">
                <div id="personality">
                    <ul>
                        <li>I lie about almost everything, even when there’s no good reason to.</li>
                        <li>I keep multiple holy symbols on me and invoke whatever deity might come in useful at any given
                            moment.
                        </li>
                    </ul>
                    <p>Personality Traits</p>
                </div>
                <div id="ideals">
                    <ul>
                        <li>I never run the same con twice.</li>
                    </ul>
                    <p>Ideals</p>
                </div>
                <div id="bonds">
                    <ul>
                        <li>I swindled and ruined a person who didn’t deserve it. I seek to atone for my misdeeds but might
                            never be able to forgive myself.
                        </li>
                    </ul>
                    <p>Bonds</p>
                </div>
                <div id="flaws">
                    <ul>
                        <li>I'm always in debt. I spend my ill-gotten gains on decadent luxuries faster than I bring them
                            in.
                        </li>
                    </ul>
                    <p>Flaws</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Attack</th>
                        <th>Damage</th>
                        <th>Range</th>
                        <th>Ammo</th>
                        <th>Used</th>
                    </tr>
                    <tr>
                        <td>0</td>
                    </tr>
                </table>
                <p>Attack &amp; Spellcasting</p>
            </div>
            <div>
                <div>
                    <ul>
                        <li>Iso loikka</li>
                        <li>Nälkä</li>
                    </ul>
                    <p>Other Proficiencies &amp; Languages</p>
                </div>
                <div>
                    <ul>
                        <li>Iso loikka</li>
                        <li>Nälkä</li>
                    </ul>
                    <p>Special Abilities</p>
                </div>
            </div>
            <div>
                <ul>
                    <li>Belt containing money</li>

                </ul>
                <p>Equipment</p>
            </div>
            <div>
                <ul>
                    <li>Favorite Schemes: I shave coins or forge documentaries</li>
                </ul>
                <p>Character Notes</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>